    
        <footer>
            <hr style="color: silver;" />
            <h2 align="center">Para mayor información comunicarse al PBX: (574) 444 37 00</h2>
        </footer>
    
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>