{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver">
    <br>
    <h4>
        Lista de los cursos disponibles
    </h4>
    <br>
    {{{verCursos listado}}}
</div>
{{>footer}}