{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver">
    <br>
    <h4>
        Error 404: la página no existe
    </h4>
    <br>
</div>

{{>footer}}