{{>header}}
<div class="container">
    <h4> Muy bien {{mostrarNombre}} tu usuario fue creado correctamente</h4>
    <h3>Recuerda que debes iniciar sesión con tu correo y password que asignaste en el registro</h3>
    <br>
</div>
{{>footer}}