{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver">
    <br>
    <div class="card">
        <div class="card-header">
            <h5>Formulario de registro</h5>
        </div>
        <div class="card-body">
            <b>En caso de no tener cuenta por favor llene los datos para registrarse</b>
            <br><br>
            <form id="creacion" action='/' method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Documento de identidad</label>
                    <input type="number" class="form-control" name="id" id="id"
                    placeholder="Documento de Identidad" required><br>
                    <label>Nombre Completo</label>
                    <input type="text" class="form-control" name="nombre" id="nombre"
                    placeholder="Nombres y Apellidos" required><br>
                    <label>Teléfono</label>
                    <input type="number" class="form-control" name="telefono" id="telefono"
                    placeholder="Número de teléfono" required><br>
                    <label>Correo</label>
                    <input type="email" class="form-control" name="correo" id="correo"
                    placeholder="Correo electrónico" required><br>
                    <label>Contraseña para seguir ingresando</label>
                    <input type="password" class="form-control" name="password" id="password"
                    placeholder="Password" required><br>
                    <label>Rol</label>
                    <select class="form-control" name="rol" id="rol">
                        <option value="aspirante">Aspirante</option>
                        <option value="coordinador">Coordinador</option>
                    </select>
                    <br>
                    <label>Subir una imagen de perfil (El formato es PNG ó JPEG y no debe pesar más de 10 Mb. )</label>
                    <br>
                    <input type="file" name="archivo" id="archivo" accept="image/JPEG,image/JPG,image/png,image/jpeg,image/jpg" required>
                    <br>
                    
                    {{!-- <div class="row"> --}}
                        {{!-- <div class="col">
                            <label>Nota 2</label>
                            <input type="number" class="form-control" name="ingles" id="ingles" 
                            placeholder="Nota 2" required>
                        </div>
                        <div class="col">
                            <label>Nota 3</label>
                            <input type="number" class="form-control" name="programacion" id="programacion" 
                            placeholder="Nota 3" required>
                        </div> --}}
                    {{!-- </div> --}}
                    <br>
                    <div class="text-center">
                        <button class="btn btn-dark" >Registrarse</button>
                    </div>
                </div>
            </form>
            <h1>Ingresar al chat</h1>
            <form id="formulario" action='/chat'>
                <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario">
                <input type="text" id="nam" name="nam" placeholder="Nombre de usuario">
                <button> enviar </button>
            </form>
        </div>
    </div>
</div>
{{>footer}}
