{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver">
    <br>
    <h4>
        Selecciona una opción del menú
    </h4>
    <br>
</div>
{{>footer}}