{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver">
    <br>
    <h4>
        Lista de todos los Cursos (Al dar clic se despliegan los aspirantes)
    </h4>
    <br>
    <form action='/cursosInscripcion' method="post">
    {{{verInscripciones}}}
    </form>
</div>
{{>footer}}