{{>header}}
<div class="container" style="border-left: 1px solid silver; border-right: 1px solid silver">
    <br>
    <h4>
        Lista de todos los Cursos (Al dar clic se despliegan los aspirantes, los cuales se pueden eliminar)
    </h4>
    <br>
    
    {{{verInscripciones}}}
    
</div>
{{>footer}}
